html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
nav {
    padding: 1px;
    background: #332E34;
    font-family: 'Roboto',sans-serif;
}
.navbar .logo a{
    float: left;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 100px;
    margin-top: -3px;
}
.navbar #links {
    text-align: right;
}
.navbar ul li {
    display: inline-block;
    margin: 0 40px;
    font-weight: 300;
    
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.header {
    background:linear-gradient(rgba(255,30,100,0.3), rgba(0,30,100,0.3)), url('images/plans-for-students.jpg');
    height: 500px;
    margin-top: -50px;
    background-size: cover;
}
.header .title {
    transform: translate(10%, 260%);
    color: white;
}
.header .title h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header .title p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: yellow;
    font-size: 18px;
}
.sec1 {
    height: 400px;
    width: 100%;
    display: flex;
}
.sec1 .image {
    height: 300px;
    width: 40%;
    background: url('images/La-Tomatina_tablet_footer.jpg');
    background-repeat: no-repeat;
    margin-top: 70px;    
    margin-left: 150px;
    z-index: 10;
    background-size: 100% 100%;
}
.sec1 .text {
    height: 350px;
    width: 55%;
    position: absolute;
    left: 35%;   
    border: 1px solid orange;
    margin-top: 40px;
}
.sec1 .text h1 {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 43%;
    font-size: 40px;
}
.sec1 .text hr {
    width: 15%;
    margin-left: 43.5%;
    margin-top: -25px;
    height: 2px;
    border: none;
    background: rgba(0,0,0,0.3)
}
.sec1 .text p {
    padding-left: 15em;
    padding-right: 5em;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0,0,0,0.5);
}

.sec2 {
    height: 400px;
    width: 100%;
    display: flex;
}
.sec2 .image {
    height: 300px;
    width: 50%;
    background: url('images/bp1.jpg');
    background-repeat: no-repeat;
    margin-top: 70px;
    margin-left: 620px;
    z-index: 10;
    background-size: 80% 100%;
}
.sec2 .text {
    height: 350px;
    width: 55%;
    position: absolute;
    left:10%;
    border: 1px solid orange;
    margin-top: 40px;
}
.sec2 .text h1 {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 11%;
    font-size: 40px;
}
.sec2 .text hr {
    width: 10%;
    margin-left: 11.5%;
    margin-top: -25px;
    height: 2px;
    border: none;
    background: rgba(0,0,0,0.3);
}
.sec2 .text p {
    padding-left: 4em;
    padding-right: 10em;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0,0,0,0.5);
}

.sec3 {
    height: 400px;
    width: 100%;
    display: flex;
}
.sec3 .image {
    height: 300px;
    width: 50%;
    background: url('images/fc-barcelona-vs-real-madrid-wallpaper-599x360.jpg');
    background-repeat: no-repeat;
    margin-top: 70px;
    margin-left: 150px;
    z-index: 10;
    background-size: 80% 100%;
}
.sec3 .text {
    height: 350px;
    width: 55%;
    position: absolute;
    left: 35%;
    border: 1px solid orange;
    margin-top: 40px;
}
.sec3 .text h1 {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 43%;
    font-size: 40px;
}
.sec3 .text hr {
    width: 10%;
    margin-left: 43.5%;
    margin-top: -25px;
    height: 2px;
    border: none;
    background: rgba(0,0,0,0.3)
}
.sec3 .text p {
    padding-left: 15em;
    padding-right: 3em;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0,0,0,0.5);
}
footer {
    background: #2D292E;
    height: 50px;
}
footer p {
    padding: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
}