html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
nav {
    padding: 1px;
    background: #332E34;
    font-family: 'Roboto',sans-serif;
}
.navbar .logo a{
    float: left;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 100px;
    margin-top: -3px;
}
.navbar #links {
    text-align: right;
}
.navbar ul li {
    display: inline-block;
    margin: 0 40px;
    font-weight: 300;
    
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.header {
    height: 300px;
    margin-top: -50px;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(adventures-by-disney-europe-spain-hero-03-great-mosque-of-cordoba.jpg);
    background-size: cover;
    background-position: center;
}
.header .title {
    transform: translate(10%, 250%);
    color: white;
}
.header .title h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header .title p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: yellow;
    font-size: 18px;
}
.sec2 {
    height: 500px;
    width: 100%;
}
.form {
    height: 400px;
    width: 600px;
    transform: translate(30%);
}
.form .top input{
    width: 40%;
    border: none;
    margin: 100px 10px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    font-size: 20px;
    font-family: 'Comfortaa', cursive;

}
.form .top input::placeholder{
    color: rgba(0,0,0,0.3);
}
.form .middle input{
    width: 40%;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    font-size: 20px;
    margin: 0 10px;
    font-family: 'Comfortaa', cursive;

}
.form .middle input::placeholder{
    color: rgba(0,0,0,0.3);
}
.form .message {
    margin-top: 50px;
}
.form .message textarea {
    width: 85%;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;

}
.form .message textarea::placeholder {
    color: rgba(0,0,0,0.3);
}
button {
    width: 86%;
    background: #17BFEE;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: white;
    border-radius: 50px;
    padding: 5px;
font-family: 'Comfortaa', cursive;
}
footer {
    background: #2D292E;
    height: 50px;
}
footer p {
    padding: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
}
